.App {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.App h2 {
  margin-bottom: 10px;
}
.selector {
  margin-bottom: 10px;
}
.table {
  overflow-y: auto;
  max-height: 400px; /* 必要に応じて高さを調整 */
}
  width: 100%;
}
.table table tr {
  color: #666;
}
.table table td {
  text-align: center;
  padding: 5px 30px;
  color: #aaa;
  background-color: #efefef;
  border: solid 1px white;
}
.table table td.demilita {
  background-color: #e0e0e0;
}
.table table td.this_year {
  background-color: #7f7f7f;
  color: white;
}
.table table td:nth-child(2) {
  width: 130px;
}
.table table td:nth-child(3) {
  width: 130px;
}
.table table tr:hover td:nth-child(1) {
  color: #666;
  background-color: #d9d0e6;
}
.table table tr:hover td:nth-child(2) {
  color: #666;
  background-color: #e3d0e6;
}
.table table tr:hover td:nth-child(3) {
  color: #666;
  background-color: #eed2f5;
}
